/* Buttons */
.main__button {
  padding: 0.7rem 2rem;
  border: 2px solid $smokyblack;
  font-family: $raleway;
  font-weight: $regular;
  color: $smokyblack;
  background-color: $bg-white;
  &:hover {
    color: $bg-white;
    background-color: $smokyblack;
    // border-color: $nickel;
  }
}
