/* Buttons */
.article__button {
  padding: 0.7em 1em;
  border: 2px solid $smokyblack;
  font-family: $raleway;
  font-weight: $bold-typo;
  color: $smokyblack;
  background-color: $bg-white;
  &:hover {
    color: $bg-white;
    background-color: $smokyblack;
  }
}

//tablet
@media (min-width: 576px) {
}
//desktop
@media (min-width: 992px) {
}
