.footer__input {
  width: 60vw;
  padding: 0.25em;
  margin: 0.3em 0 1.5em;
}

//tablet
@media (min-width: 576px) {
  .footer__input {
    // width: 35vw;
  }
}
//desktop
@media (min-width: 992px) {
  .footer__input {
    width: 25vw;
  }
}
