/* Reset*/
body {
  margin: 0;
  padding: 0;
}

/* Base Styles*/
body {
  background-color: #ffffff;
}

.container {
  display: grid;
  height: 100vh;
  width: 100%;
  grid-template-areas: "navbar" "section__img" "article" "footer";
  grid-template-rows: 2vh 12fr 12fr 2fr;
  grid-template-columns: 1fr;
}

.navbar {
  grid-area: navbar;
}

.section_img {
  grid-area: section_img;
}

.article {
  grid-area: article;
}

.footer {
  grid-area: footer;
}

@media (min-width: 576px) {
  .container {
    height: 100vh;
    grid-template-areas: "navbar" "section__img" "article" "footer";
    grid-template-rows: 15vh 17fr 16fr 2fr;
    grid-template-columns: 1fr;
  }
}
@media (min-width: 992px) {
  .container {
    grid-template-areas: "navbar navbar" "article section__img" "footer section__img";
    grid-template-rows: 10vh 5fr 3fr;
    grid-template-columns: 1fr 45vw;
    position: relative;
  }
}
.navbar {
  position: fixed;
  top: 0;
  box-sizing: content-box;
  background-color: #ffffff;
  width: 100%;
}
.navbar__content {
  position: relative;
  flex-direction: row;
}
.navbar__icon {
  width: 12%;
  height: -webkit-fill-available;
  display: flex;
  background-color: #0c0910;
  position: absolute;
  align-items: center;
  justify-content: center;
}
.navbar__icon-text {
  color: #ffffff;
  align-items: center;
  font-weight: 800;
  font-size: 1.125em;
}
.navbar__toggler-icon {
  width: 5%;
}
.navbar ul {
  height: 1.5vh;
  margin: 0;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
.navbar a {
  text-decoration: none;
  color: #0c0910;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 0.75em;
}

@media (max-width: 575px) {
  .navbar__toggler-icon {
    position: relative;
    list-style-type: none;
    margin-left: auto;
    justify-content: flex-end;
    padding: 1em;
  }

  label {
    cursor: pointer;
  }

  #menu-toggle {
    display: none;
  }

  #trickMenu {
    display: none;
    text-align: center;
    background-color: #ffffff;
    padding: 10px 0;
  }

  #trickMenu li a {
    display: block;
    padding: 10px 0;
    color: #0c0910;
    list-style-type: none;
    background-color: #ffffff;
  }

  #menu-toggle:checked + #trickMenu {
    display: block;
  }

  .navbar__item {
    color: #0c0910;
  }
}
@media (min-width: 576px) {
  .navbar__list-ul {
    display: flex;
    position: relative;
    list-style-type: none;
    margin-right: auto;
    justify-content: flex-end;
    padding-right: 3em;
  }

  .navbar__item {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .navbar__toggler-icon {
    display: none;
  }

  #menu-toggle {
    display: none;
  }
}
@media (min-width: 992px) {
  .navbar__list-ul {
    display: flex;
    position: relative;
    list-style-type: none;
    margin-right: auto;
    justify-content: flex-end;
    padding-right: 3em;
  }

  .navbar__item {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .navbar__toggler-icon {
    display: none;
  }

  #menu-toggle {
    display: none;
  }
}
.section__img-responsive {
  width: 100%;
  height: auto;
}

@media (min-width: 576px) {
  .section__img-responsive {
    width: 100%;
    max-height: 100vh;
    z-index: -1;
  }
}
@media (min-width: 992px) {
  .section__img-responsive {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45vw;
    z-index: -1;
  }
}
.article {
  box-sizing: content-box;
  padding: 0 2em;
  background-color: #ffffff;
}
.article__title {
  font-family: "Old Standard TT", serif;
  font-size: 1.875em;
  font-weight: 800;
  margin-bottom: 0;
}
.article__text {
  margin-top: 0;
  font-family: "Raleway", sans-serif;
  font-size: 0.75em;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

@media (min-width: 576px) {
  .article {
    box-sizing: content-box;
    padding: 0 3em;
    background-color: #ffffff;
  }
  .article__title {
    font-family: "Old Standard TT", serif;
    font-size: 1.875em;
    font-weight: 800;
    margin-bottom: 0;
    margin-top: 0.5em;
  }
  .article__text {
    max-width: 75%;
    margin-top: 0;
    font-family: "Raleway", sans-serif;
    font-size: 0.75em;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    /* number of lines to show */
    -webkit-box-orient: vertical;
  }
}
@media (min-width: 992px) {
  .article {
    box-sizing: content-box;
    padding: 3em;
    background-color: #ffffff;
  }
  .article__title {
    font-family: "Old Standard TT", serif;
    font-size: 1.875em;
    font-weight: 800;
    padding-bottom: 0.8em;
    margin-bottom: 0;
  }
  .article__text {
    max-width: 50%;
    margin-top: 0;
    font-family: "Raleway", sans-serif;
    font-size: 0.75em;
    line-height: 2;
    -webkit-line-clamp: 7;
    /* number of lines to show */
  }
}
.footer {
  display: grid;
  grid-template-columns: 90% 1fr;
  background-color: #0c0910;
  color: #ffffff;
}
.footer__main {
  padding: 0 2em;
}
.footer__title {
  font-family: "Old Standard TT", serif;
  font-weight: 800;
  font-size: 1.125em;
  margin: 0.875em 0 0;
}
.footer__label {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-size: 0.75em;
}
.footer__aside {
  font-family: "Old Standard TT", serif;
  font-weight: 800;
  text-align: center;
  background-color: #ffffff;
  color: #0c0910;
  display: flex;
  justify-content: center;
}
.footer__aside-text {
  font-size: 0.75em;
  margin: 0;
  text-orientation: mixed;
  writing-mode: vertical-rl;
}

@media (min-width: 992px) {
  .footer__title {
    margin: 2em 0 0;
  }
}
/* Buttons */
.article__button {
  padding: 0.7em 1em;
  border: 2px solid #0c0910;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  color: #0c0910;
  background-color: #ffffff;
}
.article__button:hover {
  color: #ffffff;
  background-color: #0c0910;
}

@media (min-width: 992px) {
  .article__button {
    margin-top: 1em;
  }
}
.footer__input {
  width: 60vw;
  padding: 0.25em;
  margin: 0.3em 0 1.5em;
}

@media (min-width: 992px) {
  .footer__input {
    width: 25vw;
  }
}

/*# sourceMappingURL=main.css.map */
