.article {
  box-sizing: content-box;
  padding: 0 2em;
  background-color: $bg-white;
  &__title {
    font-family: $oldstand;
    font-size: $xx-large;
    font-weight: $bold-typo;
    margin-bottom: 0;
  }
  &__text {
    margin-top: 0;
    font-family: $raleway;
    font-size: $xx-small;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
}

@media (min-width: 576px) {
  .article {
    box-sizing: content-box;
    padding: 0 3em;
    background-color: $bg-white;
    &__title {
      font-family: $oldstand;
      font-size: $xx-large;
      font-weight: $bold-typo;
      margin-bottom: 0;
      margin-top: 0.5em;
    }
    &__text {
      max-width: 75%;
      margin-top: 0;
      font-family: $raleway;
      font-size: $xx-small;
      line-height: 1.5;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 4; /* number of lines to show */
      -webkit-box-orient: vertical;
    }
  }
}

@media (min-width: 992px) {
  .article {
    box-sizing: content-box;
    padding: 3em;
    background-color: $bg-white;
    &__title {
      font-family: $oldstand;
      font-size: $xx-large;
      font-weight: $bold-typo;
      padding-bottom: 0.8em;
      margin-bottom: 0;
    }
    &__text {
      max-width: 50%;
      margin-top: 0;
      font-family: $raleway;
      font-size: $xx-small;
      line-height: 2;
      // overflow: hidden;
      // text-overflow: ellipsis;
      // display: -webkit-box;
      -webkit-line-clamp: 7; /* number of lines to show */
      // -webkit-box-orient: vertical;
    }
  }
}
