.navbar {
  position: fixed;
  top: 0;
  box-sizing: content-box;
  background-color: $bg-white;
  width: 100%;
  //contenedor
  &__content {
    position: relative;
    flex-direction: row;
  }
  //logo negro
  &__icon {
    width: 12%;
    height: -webkit-fill-available;
    
    display: flex;
    background-color: $smokyblack;
    position: absolute;
    align-items: center;
    justify-content: center;
  }
  //texto logo negro
  &__icon-text {
    color: $bg-white;
    align-items: center;
    font-weight: $bold-typo;
    font-size: $x-large;
  }
  &__toggler-icon {
    width: 5%;
  }
  ul {
    margin: 0;
    padding-top: 1.5em;
  }
  a {
    text-decoration: none;
    color: $smokyblack;
    font-family: $raleway;
    font-weight: $bold-typo;
  }
}

@media (max-width: 575px) {
  .navbar__toggler-icon {
    // display: flex;
    position: relative;
    list-style-type: none;
    margin-left: auto;
    justify-content: flex-end;
    padding: 1em;
  }
  label {
    cursor: pointer;
  }
  #menu-toggle {
    display: none;
  }
  #trickMenu {
    display: none;
    text-align: center;
    background-color: $bg-white;
    padding: 10px 0;
  }
  #trickMenu li a {
    display: block;
    padding: 10px 0;
    color: $smokyblack;
    list-style-type: none;
    background-color: $bg-white;
  }
  #menu-toggle:checked + #trickMenu {
    display: block;
  }
  .navbar__item {
    color: $smokyblack;
  }
}

@media (min-width: 576px) {
  .navbar__list-ul {
    display: flex;
    position: relative;
    list-style-type: none;
    margin-right: auto;
    justify-content: flex-end;
    padding-right: 3em;
  }
  .navbar__item {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar__toggler-icon {
    display: none;
  }
  #menu-toggle {
    display: none;
  }
}

@media (min-width: 1024px) {
  .navbar__list-ul {
    display: flex;
    position: relative;
    list-style-type: none;
    margin-right: auto;
    justify-content: flex-end;
    padding-right: 3em;
  }
  .navbar__item {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar__toggler-icon {
    display: none;
  }
  #menu-toggle {
    display: none;
  }
}

@media (min-width: 576px) {
}

@media (min-width: 1024px) {
}
