.section {
  &__image {
    //contenedor
  }
  &__img-size {
    
    
    // height: 300px;
    width: 100%;
    top: 7vh;
    // z-index: -1;
  }
}

@media (min-width: 576px) {
  .section__img-size {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .section__img-size {
    width: 60%;
  }
}
