.section {
  &__img-responsive {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 576px) {
  .section__img-responsive {
    width: 100%;
    max-height: 100vh;
    z-index: -1;

  }
}

@media (min-width: 992px) {
  .section__img-responsive {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45vw;
    z-index: -1;
    // height: 80vh;
  }
}
